@charset 'utf-8';
body{
    background:rgb(0, 0, 0);
}
.grid-container { 
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding: 8px;
    height: 480px;
}
.box1 {
    background-color: rgb(211, 51, 51);
}

.box2 {
    background-color: rgb(48, 219, 85);
}

.box3 {
    background-color: rgb(47, 185, 219);  
}

.box4 {
    background-color: rgb(138, 47, 212);
}

.box5 {
    background-color: rgb(223, 43, 148);
}

.box6 {
    background-color: rgb(219, 217, 53);
}

.grid-items {
    height: 165px;
    padding: 2px;
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
    font-size: 30px 

}
.toggle {
    background-color: white;
}
  
.main {
    margin: 100px auto;
    text-align: center;
}
  
button {
    padding: 68px;
    background: transparent;
    text-shadow: 1px 1px 1px #202020;
    font-family: "Lato", sans-serif;
    font-size: 18pt;
    border: 1px solid lightblue;
    color: lightblue;
}
  
.click-three {
	font-size: 2vmax;
}
#lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}

#lightbox.open {
	display: block;
}

#lightbox_content {
	position: absolute;
	width: 500px;
	height: 300px;
	background: #ffffff;
	border-radius: 5px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
    margin-top: -200px;
    font-size: 20px;
}

#exit {
    cursor:pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 20px;
	top: 20px;
	text-align: center;
	color: black;
	
	
	
}

.rotate {
    transform: rotate(360deg);
    transition-duration: 2s;
}

.click-four {
    width: 400px;
    height: 200px;
}