@charset "utf-8";
.javascript {
    grid-area: javascript;
    background: radial-gradient(purple, rgb(151, 0, 0));
    border: 1px solid white;
}
.playground {
    grid-area: playground;
    background: radial-gradient(purple, rgb(151, 0, 0));
    border: 1px solid white;
}
.ToDo {
    grid-area: ToDo;
    background: radial-gradient(purple, rgb(151, 0, 0));
    border: 1px solid white;
}
.grid-container{
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'javascript playground'
    'ToDo ToDo'
    ;
    display: grid;
    height:500px;
    text-align: center;
}
body{
    background-color:black;
    
}
a{
    text-decoration: none;
    color:white;
    font-size: 100px;
}
